# Virtual environment
.venv/
#env/
#venv/

# Python cache and bite-code
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache and reports
.pytest_cache/
reports/
#*.html
#*.xml
#*.json

# Screenshots and Traces
tests/.screenshots/*.png
tests/.traces/*.zip

# Logs
#logs/
#*.log

# Tests' storage states
storage_states/

# Environment files
.env
#l.env.*

# IDE and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Playwright artefacts
playwright-report/
