pytest>=7.0
pytest-asyncio>=0.21.0
pytest-xdist>=2.6.0
pytest-html>=4.1.1
playwright>=1.36.0
httpx>=0.24.1
requests>=2.31.0
python-dotenv
pydantic
pydantic_settings
pytest-mock
pyautogui
pyyaml
# cryptography>=41.0.0 # OPTIONAL: to store passwords in encodded files and decode them during test run
# sqlalchemy>=2.0.19 # OPTIONAL: for the case of interaction with DB
